[Unit]
Description=Stagehands Service

[Service]
Type=simple
ExecStart=/bin/bash -c "source /home/pi/stagehands/bot_setup/raspberry_scripts/convenience.sh; stagehands run"
Restart=always

[Install]
WantedBy=multi-user.target