[Unit]
Description=My Service
After=network.target

[Service]
Type=simple
# Run "stagehands run" (after sourcing the environment) in bash to get the command
ExecStart=/bin/bash -c "source /home/pi/.bashrc && stagehands run"
Restart=always

[Install]
WantedBy=multi-user.target