<launch>
    <param name="use_sim_time" value="false" />

    <!-- Turtlebot3 -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="map_file" default="$(find stagehands_ros)/maps/gazebomap.yaml"/>
    <arg name="open_rviz" default="false"/>
    <arg name="move_forward_only" default="false"/>
    <arg name="explorer" default="RRT"/>

    <!-- Launch turtlebot3 bringup-->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>

    <include file="$(find raspicam_node)/launch/camerav2_1280x960.launch">
        <arg name="enable_raw" value="true" />
    </include>
    
    <!-- launch aruco ros to detect markers in view of turtlebot camera-->
    <include file="$(find aruco_ros)/launch/marker_publisher.launch">
        <arg name="ref_frame" value="camera_link"/>
        <!-- <remap from="/camera_info" to="/raspicam_node/camera_info"/>
        <remap from="/image" to="/raspicam_node/image/compressed"/> -->
    </include>
</launch>