<launch>
    <param name="use_sim_time" value="false" />

    <!-- Turtlebot3 -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="map_file" default="$(find stagehands_ros)/maps/gazebomap.yaml"/>
    <arg name="open_rviz" default="false"/>
    <arg name="move_forward_only" default="false"/>
    <arg name="explorer" default="RRT"/>

    <!-- Launch turtlebot3 bringup-->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>


    <!-- SLAM Node -->
    <include file="$(find ros_autonomous_slam)/launch/turtlebot3_slam.launch">
        <arg name="open_rviz" value="$(arg open_rviz)"/>
    </include>

    <!-- move_base -->
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

    <!-- Autonomous Explorer Node -->
    <include file="$(find ros_autonomous_slam)/launch/$(arg explorer).launch">
    </include>

    <!-- launch raspicam to broadcast images recorded by turtlebot's camera-->
    <!-- <include file="$(find raspicam_node)/launch/camerav2_1280x960.launch">
        <arg name="enable_raw" value="true" />
    </include> -->
    
    <!-- launch aruco ros to detect markers in view of turtlebot camera-->
    <!-- <include file="$(find aruco_ros)/launch/marker_publisher.launch">
        <arg name="ref_frame" value="map"/>
    </include> -->

    <!-- launch node to record and store location of aruco markers in map frame-->
    <!-- <node pkg="stagehands_ros" name="aruco_location_storage" type="aruco_location_storage.py"/> -->

    <!-- launch node to monitor map - this saves the map & aruco locations and kills everything once the map is stable -->
    <!-- <node pkg="stagehands_ros" name="map_monitor" type="map_monitor.py"/> -->

</launch>
