@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap');

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.87);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	width: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	font-family: 'Arimo', sans-serif;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.ui-button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-zinc-200 text-zinc-800 dark:bg-zinc-800 dark:text-zinc-200;
}

.ui-shadow {
	@apply shadow-xl;
}

.ui-div {
	@apply bg-zinc-300 dark:bg-zinc-700 dark:text-white rounded-3xl overflow-hidden;
}

.ui-highlight {
	@apply bg-zinc-800/10 dark:bg-zinc-400/10;
}

.ui-highlight-extra {
	@apply bg-zinc-800/20 dark:bg-zinc-400/20;
}

.ui-hover-highlight {
	@apply hover:bg-zinc-800/20 dark:hover:bg-zinc-400/20 transition-colors;
}

.ui-hover-highlight-solid {
	@apply bg-zinc-300 dark:bg-zinc-600 dark:text-white hover:bg-zinc-200 dark:hover:bg-zinc-600 transition-colors;
}

/* inputs of tbodies or form */
tbody input, form input {
	@apply text-center mb-2 h-6 w-32 rounded-3xl overflow-clip bg-transparent ui-shadow ui-highlight py-4;
}

/* Remove input number arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Safari Canvas fix */
/* Selector for any parent of canvas */
.safari-canvas-overflow-fix {
	transform: translate3d(0,0,0);
}

/* Nice scrollbar */
::-webkit-scrollbar {
	width: 9px;
  }
  ::-webkit-scrollbar-track {
	background: transparent;
  }
  ::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.5);
	border-radius: 20px;
	border: transparent;
  }

  /* Make all td align to left */
  td {
	  text-align: left;
  }