@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

body {
  @apply p-0 m-0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

